@charset 'utf-8';

section {
  background-color: #3eb6bd;
}

h1 {
  color: #fff;
}

em {
  font-weight: bold;
}

p {
  background-color: orange;
  display: inline;
  width: 3000px;
  height: 1000px;
}

span {
  background-color: pink;
  display: block;
  width: 500px;
  height: 200px;
  padding: 20px;
  padding: 10px 20px;
  padding: 10px 20px 30px;
  padding: 10px 20px 30px 40px;
  padding-top: 50px;
  margin-bottom: 40px;
  border: 5px solid black;
  box-sizing: border-box;
}

div {
  background-color: deeppink;
  display: inline-block;
  width: 800px;
  height: 200px;
}