@charset 'utf-8';

ul {
  border: 10px solid #aae5e7;
  padding: 1em 1em 0;
  list-style: none;
}

/* 子孫セレクタ */
ul li {
  border-bottom: 4px dotted #6baeb3;
  margin-bottom: 1em;
}

/* 疑似要素はインライン要素（扱い） */
ul li::before {
  content: url(../img/check.png);
  margin-right: 4px;
  vertical-align: middle;
}

ul li::after {
  content: attr(data-star);
}

ol {
  border: 10px solid #ffc43d;
  padding: 20px 40px;
}

ol li {
  padding-bottom: 20px;
  margin-bottom: 20px;
  background: url(../img/arrow.png) no-repeat left bottom;
}

ol li:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  background: transparent;/* 背景色: 透明　他は初期値に戻る */
}